*.orig
*.suo
*.user
*.*~
*.pidb
bin/
obj/
_ReSharper*/
build/
AwesomeNHApp.userprefs
*.sublime-workspace
packages/
.db.sqlite
.vs


# Paket dependency manager
.paket/paket.exe

# FAKE - F# Make
.fake/

# Test result
TestResults.xml

*.userprefs