framework: >= net45
redirects: on
source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://www.nuget.org/api/v2/
source https://www.nuget.org/api/v2/

nuget FluentMigrator
nuget Microsoft.AspNet.Mvc ^5.2.2 
nuget Microsoft.AspNet.WebApi ^5.2.2
nuget Microsoft.AspNet.WebApi.OData ^5.3.1
nuget NUnit 2.6.4 
nuget System.Data.SQLite
nuget NUnit.Runners 2.6.4
nuget FAKE
